header {
    text-align: center;
    width: 60%;
    margin: auto;
}

.card {
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
}

.card:hover {
    cursor: pointer;
    border: 2px solid gray;
}

.teaminfo {
    margin-top: 50px;
    text-align: center;
    background: rgb(82, 166, 240);
}

.teaminfo p {
    padding: 30px;
    margin-top: 15px;
}

.row {
    background: #FFB75E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}